<div id="{{ i.id }}" *ngFor="let i of item" (click)="goToPage(card)" >
    <div  *ngIf="i.show">
    <ion-card #card id="{{ i.id }}">
        <ion-card-header>
          <ion-card-subtitle>{{i.hashtags}}</ion-card-subtitle>
          <ion-card-title>{{i.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
</div>
</div>
