
ion-content{
    //--background: url('../../../assets/pexels-photo-1041098.jpeg') no-repeat fixed center/cover;
  --background: url('../../assets/pexels-photo-1083822.jpeg') no-repeat fixed center/cover;
}
ion-header{
    --background: #10dc60

}
ion-col{
    display: flex;
}
ion-grid{
    height: 100%;
}
ion-row{
    height: 100%;
    display: flex;
}
ion-button{
    width: 143px;
}
