
ion-content{
    --ion-background-color: #10dc60
}
ion-header{
    --background: #10dc60

}
ion-col{
    display: flex;
}
ion-grid{
    height: 100%;
}
ion-row{
    height: 100%;
    display: flex;
}
ion-button{
    width: 143px;
}
